@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

img {
    height: 10rem;
    width: 20rem;
    padding: 2px;
}

.card {
    height: 10rem;
}

.col-md-4 {
    padding-bottom: 20px;
}
