@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

:root {
    --primary-orange: #f9ab00;
    --primary-dark: rgba(255, 255, 255, 0);
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
}
body {
    font-family: 'Comfortaa', cursive;
}

/****************************************Navbar************************************************/
nav {
    z-index: 2;
}
.logo {
    width: 4rem;
    height: 4rem; 
}
/**************************************Menu links**************************************************/
nav a.nav-link {
    letter-spacing: 0.0375;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    color: white !important;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    border-top: 0.1875rem solid var(--primary-dark) ;
}

.navbar-brand {
    max-width: 17.25rem;
    padding: 0 i !important;
    height: 6rem i !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
    border-bottom: 0.1875rem solid var(--primary-orange) ;
}

.navbar-nav > li > a:hover {
    border-top: 0.1875rem solid var(--primary-orange);
}

/**************************************Header**************************************************/

.header-wrapper {
    position: relative;
    background: url(florian-olivo-4hbJ-eymZ1o-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    
}

.main-info {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    z-index: 1;
}

.main-info h1 {
    color: white;
    text-transform: uppercase;
    font-size: 75px;
}


/**************************************Typed text**************************************************/

.typed-text {
    color: white;
    font-size: 4rem;
}

/**************************************Particles**************************************************/

.tsparticles-canvas-el {
    position: absolute;
    height: 100vh;
    width: 100vh;
    z-index: 1;
}

@media(max-width: 768px) {
    .particles-canvas {
        display: none;
    }
}