@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root {
    --primary-orange: #f9ab00;
    --primary-dark: rgba(255, 255, 255, 0)
}

body {
    font-family: 'Comfortaa', cursive;
}

/****************************************Navbar************************************************/

.logo {
    width: 4rem;
    height: 4rem; 
}
/**************************************Menu links**************************************************/
nav a.nav-link {
    letter-spacing: 0.0375;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    color: white !important;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    border-top: 0.1875rem solid var(--primary-dark) ;
}

.navbar-brand {
    max-width: 17.25rem;
    padding: 0 i !important;
    height: 6rem i !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
    border-top: 0.1875rem solid var(--primary-orange) ;
}

.navbar-nav > li > a:hover {
    border-top: 0.1875rem solid var(--primary-orange);
}